Body{
	background-image:url("https://uploads.onecompiler.io/44fgyygtm/44gd5kqrd/Untitled32_20260315103029.png");
	background-size:cover;
	height:2100px;
	weight:1000px;
	color:white;
	border:2px solid white;
	padding:3px;
}
h1{
    font-size:50px;
}
#pic{
	height:200px;
	width:200px;
	border:3px solid white;
	border-radius:50%;
	background-image:url("https://uploads.onecompiler.io/44fgyygtm/44gd5kqrd/f244e36d-b1ad-4762-9635-db7ee38973f0.jpeg");
	background-size:cover;
	position:relative;
	left:40%;
}
#about{
    font-size:50px;
    text-align:center;
}
#Other_about{
    font-Size:35px;
}